.home-card {
  width: 25%;
  margin: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.card-subtitle {
  font-style: italic;
  font-weight: 500;
  color: red;
}

.home-card img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
