<div class="home-card">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Welcome!</mat-card-title>
            <mat-card-title>{{tokenUserFullName}}</mat-card-title>
            <mat-card-subtitle class="card-subtitle">{{tokenUserRoles}}</mat-card-subtitle>
        </mat-card-header>
        <img class="img" mat-card-image src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
            alt="Profile Picture">
    </mat-card>
</div>